.Error-Page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 86vh;
    padding: 0 20px;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../styles/public/background.jpg');
    background-position: center;
    background-size: cover;
}

.Error-h1 {

    font-size: 3rem;
    margin-bottom: 20px;
    color: #ffffffc1;
}