.Update-Info {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../styles/public/background.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .update-form-box {
    width: 380px;
    height: 300px;
    position: relative;
    margin: 6% auto;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(8px);
    padding: 5px;
    position: relative;
  }
  
  .image-update-h2 {
    text-align: center;
    padding: 30px 0;
    color: aliceblue;
    font-size: xx-large;
  }
  
  .update-input-group {
    position: relative;
    width: 280px;
    margin: 0 auto;
  }
  
  .update-input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    color: aliceblue;
  }
  
  ::placeholder {
    color: #fff;
  }
  
  .update-submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 40px auto 0;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
  }
  
  @media screen and (max-width: 480px) {
    .update-form-box {
      width: 100%;
      height: auto;
      margin: 10% auto;
    }
  }
  
  .success {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #32CD32;
    color: #fff;
    text-align: center;
  }

  .imgUrl-error {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: red;
    color: #fff;
    text-align: center;

  }

  .username-error {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: red;
    color: #fff;
    text-align: center;
  
  }

  .telephone-error {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: red;
    color: #fff;
    text-align: center;
  
  }
